<html>
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="static/css/main.css">
    <body>
    <header>
    </header>
    <nav>
        <ul>
            <li> <a href="#">Home</a> </li>
            <li> <a href="#">News</a> </li>          
            <li> <a href="#">About us</a> </li>       
        </ul>
    </nav>
    
        <h1>{{ title }}</h1>
        <img src="static/img/palm.jpg" />
        {% for items in programming_languages %}
        <p>{{items}}</p>
        {% endfor %}
        <footer>
                &copy; 2019 - You are in better hands
        </footer>
        <script src="static/js/main.js"></script>
    </body>
    
</html>




