<html>
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="../static/css/main.css">
    <body>
    <header>
    </header>
    <nav>
        <ul>
            <li> <a href="/">Home</a> </li>
              
        </ul>
    </nav>
    
       
        
        {% block content %}
        {% endblock %}
        <footer>

            <div class="flex-container">
                <div class="item">
                    <a href="/about">About Us</a>
                </div>
                <div class="item">
                    <a href="/terms">Terms of Use</a>  
                </div>
                <div class="item">
                    <a href="/contact">Contact Us</a>    
                </div>
                <div class="item">
                    <a href="/privacy">Contact Us</a>        
                </div>
            </div>
            <div class="copyright">
                    <span class="copyright">&copy; 2019 - You are in better hands</span>
            </div>
               
        </footer>
        <script src="../static/js/main.js"></script>
    </body>
    
</html>




